*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}
@viewport {
  min-width: 400px;
 
}
html{
    font-size: 14px;
    
}
body{
  background-color: #e3e3e3;
}

/* стили для предзагрузки */
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
  }
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes preloader-bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  .loaded .preloader {
    display: none;
  }




.container{
    width: 100%;
    margin: auto;
    
}



/* стили для входа */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: gray;
  z-index: 999;
  overflow: auto;
}
/* блок входа */
.popup {
  top: 25%;
  left: 0;
  right: 0;       
  font-size: 14px;
  margin: auto;
  width: 95%;
  min-width:320px;
  max-width: 600px;
  position: absolute;
  padding: 15px 20px;
  border: 1px solid #383838;
  background: #fefefe;
  z-index: 1000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
  -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
}
.close {
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  position: absolute;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 131, 119, 0.9);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;

}
.vhod-input{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vhod-sag{
  margin-bottom: 15px;
  margin-right: 20px;
  font-size: 1.4rem;
}
.vvod{
  width: 200px;
  margin-bottom: 10px;
  height: 30px;
  border:1px solid #ddd;
  color:#888;
  font-size:1.1rem;
  font-weight:bold;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.close2{
  text-decoration: none;
  display: inline-block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
 font-size: 0.7rem;
  color: white;
  background-color: rgba(0, 131, 119, 0.9);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/* кнопка закрытия при наведении */
.close:hover {
  background-color: green;
  transition: all 0.5s;
}
.close2:hover {
  background-color: green;
  transition: all 0.5s;
}

/* шапка */
.container-head{
    background: rgb(59,215,33);
background: linear-gradient(90deg, rgba(59,215,33,1) 0%, rgba(9,121,31,0.3561799719887955) 81%, rgba(0,212,255,1) 100%);
    position: fixed;
    width: 100%;
    z-index: 900;
    height: 50px;
    color: white;
    -webkit-box-shadow: 0px 18px 15px 4px rgba(34, 60, 80, 0.3);
-moz-box-shadow: 0px 18px 15px 4px rgba(34, 60, 80, 0.3);
box-shadow: 0px 18px 15px 4px rgba(34, 60, 80, 0.3);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    color: white; 
}
a{
    text-decoration: none;
}
/* логотип и навигация */
.logo{
    text-shadow:1px 0px 0 rgb(213,213,213),2px 0px 0 rgb(170,170,170),3px 0px 0 rgb(128,128,128),4px 0px 0 rgb(85,85,85),5px 0px 0 rgb(43,43,43),6px 0px 1px rgba(0,0,0,0);
    -webkit-text-shadow:1px 0px 0 rgb(213,213,213),2px 0px 0 rgb(170,170,170),3px 0px 0 rgb(128,128,128),4px 0px 0 rgb(85,85,85),5px 0px 0 rgb(43,43,43),6px 0px 1px rgba(0,0,0,0);
    -moz-text-shadow:1px 0px 0 rgb(213,213,213),2px 0px 0 rgb(170,170,170),3px 0px 0 rgb(128,128,128),4px 0px 0 rgb(85,85,85),5px 0px 0 rgb(43,43,43),6px 0px 1px rgba(0,0,0,0);
    color:#ffffff;
    font-size:1.5REM;
    margin-right: 3vw;
  }
  .header__menu {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__menu li {
    list-style: none;
    margin: 0px 0px 0px 36px;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
}
.header__menu li a{
    color: white;
}  
/* пользователь */
.user{
   display: flex;
   align-items: center; 
    cursor: pointer;
}
.user-text{
    margin-right: 0.75vw;
}
.dropdown-content{
 
  top: 50px;
  right: 2.5%;
  position: fixed;
  z-index: 32132;
}
.user-img{
    border-radius: 25px;
    margin-right: 10px;
}

.menu-burger__header{
    display: none;
}

.fixed-page{
  overflow: hidden; 
}
/* контент */
.content{
    width: 95%;
    margin: auto;
    padding-top: 70px;
    display: flex;
   justify-content: space-between;
    
}

/* левая информация */
.left_info{
  width: 30%;
  min-width: 330px;
  height: 90vh;
  background-color: white;
  min-height: 600px;
  margin-right: 2vw;
  border-bottom: solid 10px green;
}
.left_calendar{
  margin-top: 5px;
}
/* правая информация */

.right_info
{
  border-bottom: solid 10px green;
  width: 68%;
  height: 90vh;
  min-height: 600px;
  background-color: white;
 
}

.right_head{
  height: 9%;
  display: flex;
  align-items: center;
  padding-left: 1.7%;
  padding-right: 1.7%;
  justify-content: space-between
}
.head_right01{
  display: flex;
  height: 80%;
  align-items: center;
  width: 40%;
}
.head_sag{
  
}
.head_poisk{
  height: 80%;
  margin-right: 5%;
  padding: 5px;
  width: 90%;
  background-image: url("../img/poisk.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: right 5px center;
  outline: none;
  
}
.head_plus{
  text-align: center;
  display: flex;
  align-items: center;
  width: 35px;
  height: 80%;
  border: solid 1px black;
  justify-content: center;
}

/* правая инфа таблица */

.right_table{
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d4d2d2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.kolonka{
 
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.7%;
  padding-right: 1.7%;
  border-right: solid 2px black;
}
.right_table_kolonka_1{
 width: 28%;

}
.right_table_kolonka_2{
  width: 17%;
 }
 .right_table_kolonka_3{
  width: 17%;
 
 }
 .right_table_kolonka_4{
  width: 19%;
 }
 .right_table_kolonka_5{
  width: 20%;
  border: none;
 }



.dropdown-content {
 
  background-color: #f9f9f9;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  transition: 0.9s;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}
.myDropdown{
  display: none;
}
.show{
  display: block;
  
}















/* адаптив */
@media screen and (max-width:750px) {
   html{
       font-size: 18px;
   }
    .menu-burger__header{
        display: block;
    }
    
    .header__nav {
    top: 50px;
    display: block;
    position: absolute;
    left: 0;
    background: #7f7d7d;
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    transition: all 0.4s ease;
    height: 100vh;
    }
    .menu-burger__header.open-menu span {
        opacity:0.5; 
        transition: 0.5s; 
    }
    .header__menu {
        display: block;
        overflow: auto; 
        
    }
    .header__menu li {
        margin-left: 2.5%;
       margin-top: 20px;
        font-size: 1rem;
        
    }
    .header__nav.open-menu {
        left: 0;
    }
    .left_info{
      width: 95%;
      margin: auto;
    }
   .content{
     flex-wrap: wrap;
   }
   .right_info{
     margin-top: 50px;
     width: 95%;
     margin: auto;
   }
   .left_info{
     width: 99vw;
   }
   .right_info{
     width: 99vw;
   }
}