*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   
}
html{
    font-size: 14px;
}

/* стили для предзагрузки */
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
  }
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes preloader-bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  .loaded .preloader {
    display: none;
  }




































.container{
    width: 100%;
    margin: auto;
    
}
.container-head{
    background-color: #53e597;
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 50px;
    color: white;
    -webkit-box-shadow: 0px 18px 15px 4px rgba(34, 60, 80, 0.3);
-moz-box-shadow: 0px 18px 15px 4px rgba(34, 60, 80, 0.3);
box-shadow: 0px 18px 15px 4px rgba(34, 60, 80, 0.3);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    color: white; 
}
a{
    text-decoration: none;
}
.logo{
    text-shadow:1px 0px 0 rgb(213,213,213),2px 0px 0 rgb(170,170,170),3px 0px 0 rgb(128,128,128),4px 0px 0 rgb(85,85,85),5px 0px 0 rgb(43,43,43),6px 0px 1px rgba(0,0,0,0);
    -webkit-text-shadow:1px 0px 0 rgb(213,213,213),2px 0px 0 rgb(170,170,170),3px 0px 0 rgb(128,128,128),4px 0px 0 rgb(85,85,85),5px 0px 0 rgb(43,43,43),6px 0px 1px rgba(0,0,0,0);
    -moz-text-shadow:1px 0px 0 rgb(213,213,213),2px 0px 0 rgb(170,170,170),3px 0px 0 rgb(128,128,128),4px 0px 0 rgb(85,85,85),5px 0px 0 rgb(43,43,43),6px 0px 1px rgba(0,0,0,0);
    color:#ffffff;
    font-size:1.5REM;
    margin-right: 5.9vw;
  }
  


  .header__menu {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__menu li {
    list-style: none;
    margin: 0px 0px 0px 36px;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
}
.header__menu li a{
    color: white;
}  




.user{
    align-items: center;
    display: flex;
}
.user-text{
    margin-right: 0.75vw;
}

.user-img{
    border-radius: 25px;
    margin-right: 10px;
}

.menu-burger__header{
    display: none;
}



.content{
    height: 2000px;
    margin:auto;
    height: 2000px;
    width: 95%;
    opacity: 0.5;
}
@media screen and (max-width:750px) {
   html{
       font-size: 18px;
   }
    .menu-burger__header{
        display: block;
    }
    
    .header__nav {
    top: 50px;
    display: block;
    position: absolute;
    left: 0;
    background: #7f7d7d;
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    transition: all 0.4s ease;
    height: 100vh;
    }
    .menu-burger__header.open-menu span {
        opacity:0.5; 
        transition: 0.5s; 
    }
   
    .header__menu {
        display: block;
        overflow: auto; 
        
    }
    .header__menu li {
        margin-left: 2.5%;
       margin-top: 20px;
        font-size: 1rem;
        
    }
    .header__nav.open-menu {
        left: 0;
    }
    .fixed-page{
        overflow: hidden; /*запрещаем прокручивание страницы при открытом меню*/
    }
}