

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}
@viewport {
  min-width: 450px;
}
/* эффект для логотипа */
.he-nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
.he-nav a:hover,
.he-nav a:focus {
	outline: none;
}
.iw-effect-3 a {
  padding: 5px;
	color: white;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.iw-effect-3 a::before,
.iw-effect-3 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.iw-effect-3 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.iw-effect-3 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.iw-effect-3 a:hover,
.iw-effect-3 a:focus {
	color: #fff;
}
.iw-effect-3 a:hover::before,
.iw-effect-3 a:focus::before,
.iw-effect-3 a:hover::after,
.iw-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}




html{
    font-size: 14px;
    color: #444444;
    overflow-x: hidden;
    
}
body{
  background-color: #e3e3e3;
}

/* стили для предзагрузки */
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
  }
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes preloader-bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  .loaded .preloader {
    display: none;
  }




.container{
    width: 100%;
    margin: auto;
}



/* стили для входа */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: gray;
  z-index: 999;
  overflow: auto;
}
/* блок входа */
.popup {
  top: 25%;
  left: 0;
  right: 0;       
  font-size: 14px;
  margin: auto;
  width: 95%;
  min-width:320px;
  max-width: 600px;
  position: absolute;
  padding: 15px 20px;
  border: 1px solid #383838;
  background: #fefefe;
  z-index: 1000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
  -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
}
.close {
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  position: absolute;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 131, 119, 0.9);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;

}
.vhod-input{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vhod-sag{
  margin-bottom: 15px;
  margin-right: 20px;
  font-size: 1.4rem;
}
.vvod{
  width: 200px;
  margin-bottom: 10px;
  height: 30px;
  border:1px solid #ddd;
  color:#888;
  font-size:1.1rem;
  font-weight:bold;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.close2{
  text-decoration: none;
  display: inline-block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
 font-size: 0.7rem;
  color: white;
  background-color: rgba(0, 131, 119, 0.9);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/* кнопка закрытия при наведении */
.close:hover {
  background-color: green;
  transition: all 0.5s;
}
.close2:hover {
  background-color: green;
  transition: all 0.5s;
}

/* шапка */
.container-head{
    background: rgb(59,215,33);
/* background: linear-gradient(90deg, rgba(59,215,33,1) 0%, rgba(9,121,31,0.3561799719887955) 81%, rgba(0,212,255,1) 100%); */
    position: fixed;
    width: 100vw;
    z-index: 900;
    height: 50px;
    color: white;
    -webkit-box-shadow: 0px 18px 15px 4px rgba(34, 60, 80, 0.3);
-moz-box-shadow: 0px 18px 15px 4px rgba(34, 60, 80, 0.3);
box-shadow: 0px 18px 15px 4px rgba(34, 60, 80, 0.3);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    color: white; 
}
a{
    text-decoration: none;
}
/* логотип и навигация */
.logo{
    text-shadow:1px 0px 0 rgb(213,213,213),2px 0px 0 rgb(170,170,170),3px 0px 0 rgb(128,128,128),4px 0px 0 rgb(85,85,85),5px 0px 0 rgb(43,43,43),6px 0px 1px rgba(0,0,0,0);
    -webkit-text-shadow:1px 0px 0 rgb(213,213,213),2px 0px 0 rgb(170,170,170),3px 0px 0 rgb(128,128,128),4px 0px 0 rgb(85,85,85),5px 0px 0 rgb(43,43,43),6px 0px 1px rgba(0,0,0,0);
    -moz-text-shadow:1px 0px 0 rgb(213,213,213),2px 0px 0 rgb(170,170,170),3px 0px 0 rgb(128,128,128),4px 0px 0 rgb(85,85,85),5px 0px 0 rgb(43,43,43),6px 0px 1px rgba(0,0,0,0);
    color:#ffffff;
    font-size:1.5REM;
   
  }

  .header__menu {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__menu li {
    list-style: none;
    margin: 0px 0px 0px 36px;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
}
.header__menu li a{
    color: white;
}  
.header__container{
  margin-left: 3vw;
}
/* пользователь */
.user{
   display: flex;
   align-items: center; 
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.user-text{
    margin-right: 0.75vw;
}
.dropdown-content{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
  top: 50px;
  right: 2.3%;
  position: fixed;
  z-index: 321320000;
}
.user-img{
    border-radius: 25px;
    margin-right: 10px;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.menu-burger__header{
    display: none;
}

.fixed-page{
  overflow: hidden; 
}
/* контент */
.content{
    width: 95%;
    margin: auto;
    display: flex;
   justify-content: space-between;  
}

.dropdown-content {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
  background-color: #f9f9f9;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000000;
}

.dropdown-content a {
  transition: 0.9s;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}
.myDropdown{
  top: -150px;
}
.show{
  top: 50px;
}


/* поворот стрелки меню */
.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
       transform: rotate(180deg);
       -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}


.header_nav_size{
  font-size: 2px;
}


/* адаптив */
@media screen and (max-width:750px) {
   html{
       font-size: 18px;
   }
    .menu-burger__header{
        display: block;
    }
    
    .header__nav {
    top: 50px;
    display: block;
    position: absolute;
    left: 0;
    background: #7f7d7d;
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    transition: all 0.4s ease;
    height: 100vh;
    overflow: hidden;
    }
    .menu-burger__header.open-menu span {
        opacity:0.5; 
        transition: 0.5s; 
    }
    .header__menu {
        display: block;
        overflow: hidden; 
        
    }
    .header__menu li {
        margin-left: 2.5%;
       margin-top: 20px;
        font-size: 1rem;
        
    }
    .header__nav.open-menu {
        left: 0;
        
    }
    .left_info{
     width: 98vw;
     margin-right: 0;
      height: 88vh;
    }
   .content{
     flex-wrap: wrap;
     width: 95%;
   
   }
   .right_info{
     width: 100%;
     margin: auto;
     margin-top: 30px;
     height: 90vh;
   }
  
   .sotrudnik_2{
     padding-left: 2.5%;
   }
   .left_info{
     
    margin-right: 0;
   
  }
  .kolonka{
    padding-left: 0;
    padding-right: 0;
  }
  .right_head{
    height: 12%;
  }
  .right_sotrudniki{
    height: 70%;
   
  }
  .right_table{
    height: 9%;
  }
}
@media (min-width: 500px) {}




/* кабинет */
.cab
{
    border-radius: 20px;
    width: 95%;
    margin: auto;
    background-color: white;
    height: auto;
    /* -webkit-box-shadow: 11px 12px 8px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 11px 12px 8px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 11px 12px 8px -2px rgba(0, 0, 0, 0.2); */
   border: 5px solid greenyellow;
   padding-bottom: 20px;
}

.cab-sag-text
{
    margin-bottom: 20px;
}

.cab-sag
{
    margin-bottom: 20px;
}

.cab-infa
{
    display: flex;
    justify-content: space-between;
    
    
}

.cab-infa-kart-block{
    width: 18%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    background-image: url(../img/cab_sotr.webp);
    margin-right: 10px;
    min-width: 200px;
    flex-shrink: 0;
    border: 2px solid black;
    background-position: center;
  
}
.cab-osn-infa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   flex-shrink: 0;
   margin-right: 10px;
   min-width: 200px;
}
.cab-polosa-text{
    padding-top: 5px;
    padding-bottom: 5px;
}
.osn-infa-polosa{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.cab-infa-text
{
   
    width: 60%;
}
.cab-osn-infa{
    width: 20%;
}
.cab-block
{
   padding-top: 15px;
   padding-left: 15px;
   padding-right: 15px;
}

.polosa
{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gray;
    opacity: 0.9;
}
.vid{
  background-color: gray;
  opacity: 0.9;
}
.cab-polosa-text
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.bilet-spisok
{
    display: flex;
    flex-direction: column;
}

.bilet-sag-text
{
margin-top: 10px;
}


.bilet-infa
{
    margin-top: 5px;
    
}
@media screen and (max-width:770px){
    /* .cab-infa-kart-block{
        display: none;
    } */
  .cab-infa-kart-block{
    width: 45%;
  }
  .cab-osn-infa{
    width: 48%;
  }
    .cab-infa-text
    {
        width: 100%;
        margin-top: 20px;
        
    }
    .cab{
        width: 99%;
  
    }
    .cab-block{
      flex-wrap: wrap;
    }
    .cab-infa{
      display: flex;
      flex-wrap: wrap;
    }
    
}